@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip:before,
.tooltip-top:before {
  transform: translateX(-50%);
  top: auto;
  left: 80%;
  right: auto;
  bottom: var(--tooltip-offset);
}
.tooltip-top::after {
  left: 80%;
}

